<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Injectable Angular Library Wrapper for the Powerschool API" name="PS API Module" version="24.2.1" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Joe Maurer">
    <contact email="jmaurer@hhsd.org" />
  </publisher>
  <registration url="https://https://[external resource server hostname]:[port]/oauth2/registerClient">
    <callback-data>jmaurer/psam</callback-data>
  </registration>
  <oauth base-url="https://[external resource server hostname]:[port]" redirect-uri="/oauth2" allow-auth-code="true" refresh-tokens="true">
  </oauth>
</plugin>